<!DOCTYPE html>

<!--
TrialInfo
https://github.com/trialinfo/trialinfo

Copyright 2012-2020  Andreas Grünbacher  <andreas.gruenbacher@gmail.com>
Lizenz: AGPLv3, http://www.gnu.org/licenses/agpl-3.0.html
-->

<html>
  <head>
    <title>ÖTSV Veranstaltungen 2014</title>
    <link rel="stylesheet" type="text/css" href="app.css" />
    <style>
    a { text-decoration:none }
    .register { background-color:#ffff80 }
    </style>
    <script src="js/common.js"></script>
    <macro show_serie(serie, not_series, ignore)>
    <p>
      $ var events = data.events(serie, not_series);
      <for(event in events)>
	<a href="event/${event.id}/results">${event.title}</a> ${data.abbreviations(event.series, ignore=ignore)}<br>
      </for>
    </p>
    </macro>
  </head>
  <body>
    <h1>ÖTSV Veranstaltungen 2014</h1>
    <h2>ÖTSV Cup und OSK Staatsmeisterschaft,<br>ÖTSV Bike Trial Cup</h2>
    <show_serie serie=10 ignore=[10]/>
    <p>
      <a href="serie/11/results">ÖTSV Cup Jahreswertung</a><br>
      <a href="serie/12/results">OSK Staatsmeisterschaft Jahreswertung</a><br>
      <a href="serie/13/results">Bike Trial Cup Jahreswertung</a><br>
      <a href="serie/14/results">Bike Trial ÖM Jahreswertung</a>
    </p>
  </body>
</html>
