<!DOCTYPE html>

<!--
TrialInfo
https://github.com/trialinfo/trialinfo

Copyright 2012-2022  Andreas Grünbacher  <andreas.gruenbacher@gmail.com>
Lizenz: AGPLv3, http://www.gnu.org/licenses/agpl-3.0.html
-->

<html>
  <head>
    <title>ÖTSV Veranstaltungen 2020</title>
    <link rel="stylesheet" type="text/css" href="app.css" />
    <style>
    a { text-decoration:none }
    .register { background-color:#ffff80 }
    </style>
    <script src="js/common.js"></script>
    <macro show_serie(serie, not_series, ignore)>
    <p>
      $ var events = data.events(serie, not_series);
      <for(event in events)>
	<a href="event/${event.id}/results">${event.title}</a> ${data.abbreviations(event.series, ignore=ignore)}<br>
      </for>
    </p>
    </macro>
  </head>
  <body>
    <h1>ÖTSV Veranstaltungen 2020</h1>
    <h2>ÖTSV Cup und AMF Staatsmeisterschaft</h2>
    <show_serie serie=51 ignore=[50]/>
    <p>
      <a href="serie/51/results">ÖTSV Cup + Damencup Jahreswertung</a><br>
      <a href="serie/52/results">AMF Staatsmeisterschaft Jahreswertung</a>
    </p>

    <h2>ÖTSV A-Cup</h2>
    <show_serie serie=53 ignore=[50,53]/>
    <p>
      <a href="serie/53/results">Jahreswertung</a>
    </p>

    <h2>ÖTSV e-Kids Cup</h2>
    <show_serie serie=55 ignore=[50,55]/>
    <p>
      <a href="serie/55/results">Jahreswertung</a>
    </p>
  </body>
</html>
