<!DOCTYPE html>

<!--
TrialInfo
https://github.com/trialinfo/trialinfo

Copyright 2012-2022  Andreas Grünbacher  <andreas.gruenbacher@gmail.com>
Lizenz: AGPLv3, http://www.gnu.org/licenses/agpl-3.0.html
-->

<html>
  <head>
    <title>ÖTSV Veranstaltungen 2021</title>
    <link rel="stylesheet" type="text/css" href="app.css" />
    <style>
    a { text-decoration:none }
    .register { background-color:#ffff80 }
    </style>
    <script src="js/common.js"></script>
    <macro show_serie(serie, not_series, ignore)>
    <p>
      $ var events = data.events(serie, not_series);
      <for(event in events)>
	<a href="event/${event.id}/results">${event.title}</a> ${data.abbreviations(event.series, ignore=ignore)}<br>
      </for>
    </p>
    </macro>
  </head>
  <body>
    <h1>ÖTSV Veranstaltungen 2021</h1>
    <h2>ÖTSV Cup und AMF Staatsmeisterschaft</h2>
    <show_serie serie=57 ignore=[56]/>
    <p>
      <a href="serie/57/results">ÖTSV Cup + Ladies Cup Jahreswertung</a><br>
      <a href="serie/58/results">AMF Staatsmeisterschaft Jahreswertung</a>
    </p>

    <h2>ÖTSV A-Cup</h2>
    <show_serie serie=59 ignore=[56,59]/>
    <p>
      <a href="serie/59/results">Jahreswertung</a>
    </p>

    <h2>ÖTSV e-Kids Cup</h2>
    <show_serie serie=60 ignore=[56,60]/>
    <p>
      <a href="serie/60/results">Jahreswertung</a>
    </p>

    <h2>ÖTSV Bike Trial Cup</h2>
    <show_serie serie=61 ignore=[56,61]/>
    <p>
      <a href="serie/61/results">Jahreswertung</a>
    </p>

    <h2>Sonstiges</h2>
    <p>
      <a href="ergebnisse/statistik.shtml?vareihe=56&kuerzel">Punktestatistiken</a>
    </p>
  </body>
</html>
