<!DOCTYPE html>

<!--
TrialInfo
https://github.com/trialinfo/trialinfo

Copyright 2012-2017  Andreas Grünbacher  <andreas.gruenbacher@gmail.com>
Lizenz: AGPLv3, http://www.gnu.org/licenses/agpl-3.0.html
-->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../app.css" />
    <if(data.reset_password)>
      <title>Kennwort zurücksetzen</title>
    </if>
    <else>
      <title>Neues Kennwort vergeben</title>
    </else>
    <style>
    table th {
      text-align:right;
    }
    </style>
  </head>
  <body>
    <span>
      <if(data.reset_password)>
        <h1>Kennwort zurücksetzen</h1>
      </if>
      <else>
        <h1>Neues Kennwort vergeben</h1>
      </else>
    </span>
    <if(data.error)>
      <p style="color:red">${data.error}</p>
    </if>
    <else>
      <p>Das Kennwort muss mindestens 6 Zeichen lang, und darf nicht in der E-Mail-Adresse enthalten sein.</p>
    </else>
    <form id="form" action="/change-password$!{data.query}" method="post">
      <table>
	<tr>
	  <th>E-Mail</th>
	  <td>
	    <input type="text" name="email" value="${data.email}" size="40" maxlength="60" disabled>
	  </td>
	</tr>
	<tr>
	  <th>Kennwort</th>
	  <td>
	    <input type="password" name="password" size="12">
	  </td>
	</tr>
	<tr>
	  <th></th>
	  <td>
	    <if(data.reset_password)>
	      <button type="submit">Kennwort zurücksetzen</button>
	    </if>
	    <else>
	      <button type="submit">Neues Kennwort vergeben</button>
	    </else>
	  </td>
	</tr>
      </table>
    </form>
  </body>
</html>
