<!DOCTYPE html>

<!--
TrialInfo
https://github.com/trialinfo/trialinfo

Copyright 2012-2017  Andreas Grünbacher  <andreas.gruenbacher@gmail.com>
Lizenz: AGPLv3, http://www.gnu.org/licenses/agpl-3.0.html
-->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../app.css" />
    <title>Neues Kennwort</title>
    <style>
    table th {
      text-align:right;
    }
    </style>
  </head>
  <body>
    <span>
      <h1>Neues Kennwort</h1>
    </span>
    <p style="color:red" if(data.error)>${data.error}</p>
    <p else>Das Kennwort muss mindestens 6 Zeichen lang, und darf nicht in der E-Mail-Adresse enthalten sein.</p>
    <form id="form" action="/change-password$!{data.query}" method="post">
      <table>
	<tr>
	  <th>E-Mail</th>
	  <td>
	    <input type="text" name="email" value="${data.email}" size="40" maxlength="60" disabled>
	  </td>
	</tr>
	<tr>
	  <th>Kennwort</th>
	  <td>
	    <input type="password" name="password" size="12">
	  </td>
	</tr>
	<tr>
	  <th></th>
	  <td>
	    <button type="submit">Kennwort ändern</button>
	  </td>
	</tr>
      </table>
    </form>
  </body>
</html>
