<!DOCTYPE html>

<!--
TrialInfo
https://github.com/trialinfo/trialinfo

Copyright 2012-2017  Andreas Grünbacher  <andreas.gruenbacher@gmail.com>
Lizenz: AGPLv3, http://www.gnu.org/licenses/agpl-3.0.html
-->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../admin.css" />
    <title>E-Mail-Ankündigungen deaktivieren</title>
  </head>
  <body>
    <h1>E-Mail-Ankündigungen deaktivieren</h1>
    <if(data.success)>
      <p if(data.success)>E-Mail-Ankündigungen für die Adresse <em>${data.email}</em> wurden deaktiviert.</p>
      <p><a href="$!{data.set_url}">E-Mail-Ankündigungen wieder aktivieren</a></p>
    </if>
    <else>
      <p style="color:red" else>Beim deaktivieren der E-Mail-Ankündigungen <span if(data.email)>für die Adresse <em>${data.email}</em></span> ist ein Fehler aufgetreten.</p>
    </else>
  </body>
</html>
