<!DOCTYPE html>

<!--
TrialInfo
https://github.com/trialinfo/trialinfo

Copyright 2012-2017  Andreas Grünbacher  <andreas.gruenbacher@gmail.com>
Lizenz: AGPLv3, http://www.gnu.org/licenses/agpl-3.0.html
-->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../app.css" />
    <title>Bestätigung gesendet</title>
  </head>
  <body>
    <h1>Bestätigung gesendet</h1>
    <p>Um die Adresse <em>${data.email}</em> zu überprüfen, haben wir Ihnen eine
    E-Mail gesendet.</p>

    <p>Bitte überprüfen Sie den Empfang, und setzen Sie die Registrierung über
    diese E-Mail fort.</p>

    <p>Die Zustellung der E-Mail kann einen Augenblick dauern.  Falls Sie die
    E-Mail danach immer noch nicht in Ihrem Posteingang sehen, überprüfen Sie
    bitte den Spam-Ordner.</p>
  </body>
</html>
