<!DOCTYPE html>

<!--
TrialInfo
https://github.com/trialinfo/trialinfo

Copyright 2012-2020  Andreas Grünbacher  <andreas.gruenbacher@gmail.com>
Lizenz: AGPLv3, http://www.gnu.org/licenses/agpl-3.0.html
-->

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ÖTSV Veranstaltungen 2020</title>
    <link rel="stylesheet" type="text/css" href="app.css" />
    <!--
    <style>
    a { text-decoration:none }
    .register { background-color:#ffff80 }
    </style>
    -->
  </head>
  <body>
    <h1>ÖTSV Veranstaltungen 2020</h1>
    <a href="otsv.html">ÖTSV Cup und AMF Staatsmeisterschaft</a><br>
    <a href="acup.html">ÖTSV A-Cup (Klassik-Trial)</a><br>
    <!--<a href="bike.html">Fahrrad-Veranstaltungen</a><br> -->
    <a href="ekids.html">ÖTSV e-Kids Cup</a><br>
    <!-- <a href="other.html">Andere</a><br> -->
    <h1>Jahre 2012 − 2019</h1>
    <p>
      <a href="2019.html">2019</a>,
      <a href="ergebnisse/2018.shtml">2018</a>,
      <a href="ergebnisse/2017.shtml">2017</a>,
      <a href="ergebnisse/2016.shtml">2016</a>,
      <a href="ergebnisse/2015.shtml">2015</a>,
      <a href="ergebnisse/2014.shtml">2014</a>,
      <a href="ergebnisse/2013.shtml">2013</a>,
      <a href="ergebnisse/2012.shtml">2012</a>
    </p>
    <p>
      <a href="/impressum.html" class="imprint" style="text-color:gray">Impressum</a>
    </p>
  </body>
</html>
