<!DOCTYPE html>

<!--
TrialInfo
https://github.com/trialinfo/trialinfo

Copyright 2012-2017  Andreas Grünbacher  <andreas.gruenbacher@gmail.com>
Lizenz: AGPLv3, http://www.gnu.org/licenses/agpl-3.0.html
-->

<html>
  <head>
    <title>ÖTSV Veranstaltungen 2017</title>
    <link rel="stylesheet" type="text/css" href="admin.css" />
    <style>
    a { text-decoration:none }
    .register { background-color:#ffff80 }
    </style>
    <script src="js/common.js"></script>
    <script>
      function start_timers() {
	var usec;

	Array.prototype.forEach.call(document.getElementsByClassName('timer'),
	  function(timer) {
	    var timestamp = timer.getAttribute('timestamp');
	    if (!timestamp)
	      return;
	    usec = parse_timestamp(timestamp).getTime() - Date.now();
	    var id = timer.getAttribute('for');
	    var text = document.getElementById(id);
	    if (usec > 0) {
	      text.innerHTML = remaining_time(timestamp);
	    } else {
	      text.remove();
	      timer.remove();
	    }
	  });
	if (usec)
	  setTimeout(start_timers, usec % 1000 + 100);
      }
    </script>

    <macro show_serie(serie, ignore)>
    <p>
      $ var events = data.events(serie);
      <for(event in events)>
	<a href="ergebnisse/tageswertung.shtml?id=${event.id}">${event.title}</a> ${data.abbreviations(event.series, ignore=ignore)}<br>
	<if(event.registration_ends)>
	  <span class="timer" timestamp="${event.registration_ends}" for="timer${event.id}">
	    &emsp;<a href="register/event/${event.id}" class="register">Jetzt voranmelden</a>
	    (noch <span id="timer${event.id}">${data.remaining_time(event.registration_ends)}</span>)<br>
	  </span>
	</if>
      </for>
    </p>
    </macro>

    <macro show_register(ignore)>
    <p>
      $ var events = data.events(null, true);
      <for(event in events)>
	${event.title} ${data.abbreviations(event.series, ignore=ignore)}<br>
	<if(event.registration_ends)>
	  <span class="timer" timestamp="${event.registration_ends}" for="timer${event.id}">
	    &emsp;<a href="register/event/${event.id}" class="register">Jetzt voranmelden</a>
	    (noch <span id="timer${event.id}">${data.remaining_time(event.registration_ends)}</span>)<br>
	  </span>
	</if>
      </for>
      <if(!events.length)>
      Derzeit keine Veranstaltungen zur Voranmeldung offen.
      </if>
    </p>
    </macro>

  </head>
  <body onload="start_timers()">
    <h1>ÖTSV Veranstaltungen 2017</h1>
    <h2><a href="ergebnisse/jahreswertung.shtml?vareihe=32">ÖTSV Cup</a> und <a href="ergebnisse/jahreswertung.shtml?vareihe=35">Jugendcup</a>, <a href="ergebnisse/jahreswertung.shtml?vareihe=33">AMF Staatsmeisterschaft</a></h2>
    <show_serie serie=32 ignore=[31]/>
    <h2><a href="ergebnisse/jahreswertung.shtml?vareihe=30">ÖTSV Kids e-Cup</a></h2>
    <show_serie serie=30 ignore=[30,31]/>
    <h2><a href="ergebnisse/jahreswertung.shtml?vareihe=34">ÖTSV Bike Trial Cup</a></h2>
    <show_serie serie=34 ignore=[31,34]/>
    <h2><a href="http://www.a-trial.info/a-cup/">A-Cup</a></h2>
    <h2>Sonstiges</h2>
    <p>
      <a href="ergebnisse/statistik.shtml?vareihe=31&kuerzel">Punktestatistiken 2017</a><br>
      Ergebnisse <a href="ergebnisse/2016.shtml">2016</a>,
      <a href="ergebnisse/2015.shtml">2015</a>,
      <a href="ergebnisse/2014.shtml">2014</a>,
      <a href="ergebnisse/2013.shtml">2013</a>,
      <a href="ergebnisse/2012.shtml">2012</a>
    </p>
    <p>
      © Österreichischer Trialsport Verband &lt;<a style="text-decoration:none" href="mailto:auswertung@otsv.at">auswertung@otsv.at</a>&gt;
    </p>
  </body>
</html>
