<!DOCTYPE html>

<!--
TrialInfo
https://github.com/trialinfo/trialinfo

Copyright 2012-2017  Andreas Grünbacher  <andreas.gruenbacher@gmail.com>
Lizenz: AGPLv3, http://www.gnu.org/licenses/agpl-3.0.html
-->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../app.css" />
    <title>TrialInfo – Anmeldung</title>
    <script>
      function mode(mode, event) {
	if (event)
	  event.preventDefault();
	['login', 'signup', 'reset'].forEach(function(mode) {
	  Array.prototype.forEach.call(document.getElementsByClassName(mode),
	    function(element) {
	      element.setAttribute('style', 'display:none');
	    });
	});
	Array.prototype.forEach.call(document.getElementsByClassName(mode),
	  function(element) {
	    element.setAttribute('style', '');
	  });
	form.setAttribute('action', form.getAttribute('action')
	  .replace(/^[^?]*/, '/' + mode));
      }

      function loaded() {
	document.getElementById('nojs').setAttribute('style', 'display:none');
	document.getElementById('js').setAttribute('style', '');
	mode($!{JSON.stringify(data.mode)});
	document.getElementById('email').focus();
      }

      function input() {
	if (document.getElementById('email').value != '') {
	  document.getElementById('confirm').removeAttribute('disabled');
	  if (document.getElementById('password').value != '')
	    document.getElementById('login').removeAttribute('disabled');
	  else
	    document.getElementById('login').setAttribute('disabled', '');
	} else {
	    document.getElementById('confirm').setAttribute('disabled', '');
	    document.getElementById('login').setAttribute('disabled', '');
	}
      }
    </script>

    <style>
    table th {
      text-align:right;
    }
    </style>
  </head>
  <body onload="loaded()">
    <div id="nojs">
      <p>Bitte aktivieren Sie JavaScript, um TrialInfo zu verwenden.</p>
    </div>
    <div id="js" style="display:none">
      <span class="login">
	<h1>Anmeldung</h1>
	<p>Anmeldung für registrierte Benutzer.</p>
      </span>
      <span class="signup">
	<h1>Neu registrieren</h1>
	<p>Bitte geben Sie ihre E-Mail-Adresse ein.<br>
	Wir senden Ihnen daraufhin eine E-Mail zur Bestätigung Ihrer Anmeldung und zur Vergabe eines Kennworts.</p>
      </span>
      <span class="reset">
	<h1>Kennwort zurücksetzen</h1>
	<p>Bitte geben Sie ihre E-Mail-Adresse ein.<br>
	Wir senden Ihnen daraufhin eine E-Mail zur Bestätigung und Vergabe eines neuen Kennworts.</p>
      </span>
      <if(data.error)>
        <p style="color:red">$!{data.error}</p>
      </if>
      <form id="form" action="/login$!{data.query}" method="post">
	<table>
	  <tr class="login signup reset">
	    <th>E-Mail</th>
	    <td>
	      <input type="text" name="email" value="${data.email}" size="40" maxlength="60" id="email" oninput="input()">
	    </td>
	  </tr>
	  <tr class="login">
	    <th>Kennwort</th>
	    <td>
	      <input type="password" name="password" size="12" id="password" oninput="input()">
	    </td>
	  </tr>
	  <tr>
	    <th></th>
	    <td>
	      <button class="login" type="submit" id="login" disabled>Anmelden</button>
	      <button class="signup reset" type="submit" id="confirm" disabled>E-Mail-Bestätigung senden</button>
	    </td>
	  </tr>
	  <tr>
	    <th></th>
	    <td marko-preserve-whitespace>
	      <span class="signup reset">
	        <a href="#" onclick="mode('login',event)" style="display:block">Sie sind bereits registriert?</a>
	      </span>
	      <span class="login reset">
	        <a href="#" onclick="mode('signup',event)" style="display:block">Sie sind noch nicht registriert?</a>
	      </span>
	      <span>
	        <a class="login signup" href="#" onclick="mode('reset',event)" style="display:block">Sie haben Ihr Kennwort vergessen?</a>
	      </span>
	    </td>
	  </tr>
	</table>
      </form>
    </div>
  </body>
</html>
