<!DOCTYPE html>

<!--
TrialInfo
https://github.com/trialinfo/trialinfo

Copyright 2012-2016  Andreas Grünbacher  <andreas.gruenbacher@gmail.com>
Lizenz: AGPLv3, http://www.gnu.org/licenses/agpl-3.0.html
-->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../admin.css" />
    <title>TrialInfo - Kennwort ändern</title>
    <style>
    table th {
      text-align:right;
    }
    </style>
  </head>
  <body>
    <span>
      <h1>TrialInfo – Neues Kennwort</h1>
    </span>
    <p>Das Kennwort muss mindestens 6 Zeichen lang und darf nicht in der E-Mail-Adresse enthalten sein.</p>
    {{#if error}}
    <p style="color:red">{{error}}</p>
    {{/if}}
    <form id="form" action="/change-password{{{query}}}" method="post">
      <table>
	<tr>
	  <th>E-Mail</th>
	  <td>
	    <input type="text" name="email" value="{{email}}" size="50" maxlength="254" disabled>
	  </td>
	</tr>
	<tr>
	  <th>Kennwort</th>
	  <td>
	    <input type="password" name="password" size="12">
	  </td>
	</tr>
	<tr>
	  <th></th>
	  <td>
	    <button type="submit">Kennwort ändern</button>
	  </td>
	</tr>
      </table>
    </form>
  </body>
</html>
