<!DOCTYPE html>

<!--
TrialInfo
https://github.com/trialinfo/trialinfo

Copyright 2012-2017  Andreas Grünbacher  <andreas.gruenbacher@gmail.com>
Lizenz: AGPLv3, http://www.gnu.org/licenses/agpl-3.0.html
-->

<html>
  <head>
    <meta http-equiv="refresh" content="5;url=${data.redirect}" />
    <link rel="stylesheet" type="text/css" href="../app.css" />
    <title>TrialInfo - Kennwort geändert</title>
  </head>
  <body>
    <span>
      <h1>TrialInfo – Kennwort geändert</h1>
    </span>
    Ihr Kennwort wurde geändert. Sie werden in 5 Sekunden <a href="${data.redirect}">weitergeleitet</a>.
  </body>
</html>
