<!DOCTYPE html>

<!--
TrialInfo
https://github.com/trialinfo/trialinfo

Copyright 2012-2017  Andreas Grünbacher  <andreas.gruenbacher@gmail.com>
Lizenz: AGPLv3, http://www.gnu.org/licenses/agpl-3.0.html
-->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../admin.css" />
    <title>E-Mail-Ankündigungen aktivieren</title>
  </head>
  <body>
    <h1>E-Mail-Ankündigungen aktivieren</h1>
    <p>E-Mail-Ankündigungen für die Adresse <em>${data.email}</em> wurden aktiviert.</p>
    <p><a href="$!{data.clear_url}">E-Mail-Ankündigungen wieder deaktivieren</a></p>
  </body>
</html>
