AuthUserFile %{DOCUMENT_ROOT}/.htpasswd
AuthGroupFile %{DOCUMENT_ROOT}/.htgroup
AuthName "TrialInfo"
AuthType Basic
AuthBasicProvider file

<Files api.pl>
  <LimitExcept OPTIONS>
    Require valid-user
  </LimitExcept>
</Files>
