[Unit]
Description=TrialInfo

[Service]
ExecStart=/usr/bin/node index.js
WorkingDirectory=/var/lib/trialinfo/backend
StandardOutput=journal
SyslogIdentifier=trialinfo
User=trialinfo
Group=trialinfo
Environment=NODE_ENV=production
