DirectoryIndex index.shtml
Options Indexes Includes
SSILegacyExprParser on
AuthUserFile %{DOCUMENT_ROOT}/.htpasswd
AuthGroupFile %{DOCUMENT_ROOT}/.htgroup
AuthName "TrialInfo"
AuthType Basic
AuthBasicProvider file
Require group veranstalter
